# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.opensdf
*.sdf
*.suo
*.tlog
*.idb
*.pdb
*.obj
*.ilk
*.pch

*.log
*.exe
*.dll
*.elf
*.lastbuildstate
*.unsuccessfulbuild
*.res
*.dump

/libs
/ipch
/RAPFT/Debug
/RAPFT/Release
